
* {
	box-sizing:border-box;
}

#profile {
	width: 200px;
	height: auto;
	float: left;
	margin: 29px 25px 10px 0;
}

#submitBtn {
	background: #4aaaa5;
	color: white;
	font-size: 1.125em;
	padding: 10px 20px;
	margin: 0;
	width: 120px;
	border: none;
}

#submitBtn:hover { 
    background-color: #64e5df;
}

#submitBtn:focus { 
    background-color: #377f7c;
    outline:0;
}

#about-wrapper, #form-wrapper, #gallery-wrapper {
	margin: 40px 30px 30px 30px;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 1.9em;
	color: #4aaaa5;
	font-weight: bold;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 1.4em;
	color: #4aaaa5;
	font-weight: bold;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 1.2em;
	color: white;
}

p {
	line-height: 1.9;
    font-size: 1.125em;
    margin: 19px 0 0 0;
}

a {
	text-decoration: none;
	color: #999;
}

hr {
	border: 0;
	border-top: 3px solid #ddd;
	margin: 29px 0 0 0;
}

body {
	background-image: url("../images/concrete-seamless.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
}

header {
	width: 100%;
	background: #fff;
	border-bottom: 2px solid #ccc;
	margin-bottom: 38px;
}

nav {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

main {
	width: 960px;
	min-height: calc(100vh - 270px);
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

section {
	width: 650px;
	border: 1px solid #ddd;
	float: left;
	background: white;
}

aside {
	width: 270px;
	float: right;
	background: white;
	border: 1px solid #ddd;
}

ul {
	
}

li {
	display: inline-block;
}

form {
	font-size: 1.125em;
	margin: 27px 0 0 0;
}

label {
	
}

input, textarea {
	width: 100%;
	padding: 8px;
    margin: 8px 0 18px 0;
    font-size: 0.78em;
    color: #777;
    border: 1px solid #ddd;	
}

footer {
	height: 100px;
	background: #666;
	color: #ddd;
	margin-top: 42px;
	border-top: 8px solid #4aaaa5;
    padding: 40px;
    text-align: center;
    font-size: 0.8em;
}

.name {
	display: inline-block;
	color: #fff;
	padding: 30px 35px;
	background: #4aaaa5;
}

.navLinks {
	float: right;
	margin: 33px 0;
}

.navLinks li {
	padding: 0 17px;
	font-size: 1.14em;
	float: left;
}

.navLinks li:nth-child(2) {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.navLinks li:nth-child(3) {
	padding-right: 0;
}

.connect-wrapper {
	margin: 30px 30px 38px 30px;
}

.connectHr {
	border: 0;
	border-top: 2px solid #ddd;
	margin: 20px 0 23px 0;
}

.socialMedia {
	text-align: center;
}

.mediaImg {
	width: 62px;
	height: 62px;
	margin: 0 2px;
}

.gallery {
	margin: 15px 0;
	overflow: auto;
}

.gallery li {
	background-size: cover;
	width: 275px;
	height: 200px;
	overflow: auto;
	margin: 20px 0 25px 0;
}

.gallery h3 {
	background-color: #4aaaa5;
	position: relative;
	top: 70%;
	padding: 15px;
	text-align: center;
}

.gallery li:nth-child(1){
	background-image: url("../images/monkey.jpg");
}

.gallery li:nth-child(2){
	background-image: url("../images/jungle.jpg");
	float: right;
}

.gallery li:nth-child(3){
	background-image: url("../images/tulum.jpg");
}

.gallery li:nth-child(4){
	background-image: url("../images/cenote.jpg");
	float: right;
}

.gallery li:nth-child(5){
	background-image: url("../images/la20.jpg");
	margin-bottom: 20px;
}

::-webkit-input-placeholder {
    color:    #ccc;
}
:-moz-placeholder {
    color:    #ccc;
}
::-moz-placeholder {
    color:    #ccc;
}
:-ms-input-placeholder {
    color:    #ccc;
}

@media (max-width: 980px) {

	#profile {
		width: 100%;
		float: none;
		margin: 29px 25px 0 0;
	}

	nav {
		width: 726px;
	}

	main {
		width: 726px;
	}

	section {
		width: 420px;
	}

	aside {
		width: 268px;
	}

	.connect-wrapper {
		margin: 30px 29px 38px 29px;
	}

	.gallery {
    	margin: 15px 0 45px 0;
	}

	.gallery li {
		width: 360px;
		height: 270px;
		margin: 25px 0;
	}

	.gallery li:nth-child(2), .gallery li:nth-child(4){
		float: none;
	}

	.gallery h3 {
		top: 73.8%;
    	padding: 19px;
    	font-size: 1.4em;
	}

}

@media (max-width: 768px) {

	/*body {
		background-image: url("../images/768-portfolio.jpg");
	}*/

	#profile {
		width: 332px;
		float: left;
	}

	section {
		width: 100%;
		float: none;
	}

	aside {
		width: 100%;
		float: none;
		margin: 40px 0 0 0;
	}

	.socialMedia {
    	text-align: left;
	}

	.gallery {
    	margin: 15px 0 30px 0;
	}

	.gallery li {
    	width: 312px;
    	height: 235px;
    	margin: 25px 0 13px 0;
	}

	.gallery li:nth-child(2), .gallery li:nth-child(4){
		float: right;
	}

	.gallery h3 {
		top: 70%;
	}
  
}

@media (max-width: 640px) {
  
}





